## GitLab Continuous Integration YAML file

before_script:

after_script:

.common_variables: &common_variables
  BUILD_HOME: /builds/$CI_PROJECT_NAMESPACE
  XDAQ_OS: linux
  XDAQ_ROOT: /opt/xdaq
  LD_LIBRARY_PATH: /opt/xdaq/lib

.slc6setup: &slc6setup
  image: gitlab-registry.cern.ch/cms-gem-daq-project/gemdaq_ci_worker:slc6
  variables: *common_variables

stages:
  - build
  - test
  - deploy
  - cleanup

build:slc6:
  <<: *slc6setup
  only:
    - /^issue-.*$/
    - /^.*.hotfix.*$/
    - master
    - tags
  tags:
  stage: build
  before_script:
    # - ${BUILD_HOME}/config/build/setupMachine.sh
    # - . /etc/profile/xdaq.sh
    - . ${BUILD_HOME}/cmsgemos/setup/etc/profile.d/gemdaqenv.sh
    - . ${BUILD_HOME}/cmsgemos/setup/paths.sh
  script:
    - make all -j8
  environment:
  variables:
  cache:
  artifacts:
    paths:
      - gem*/lib/**/*.so
      # - gem*/lib/**/*.so # gempython
  coverage: '/Code coverage: \d+\.\d+/'

# run tests using the binary built before
test:slc6:
  <<: *slc6setup
  stage: test
  dependencies:
    - build:slc6
  script:
    - ${BUILD_HOME}/runmytests.sh
  coverage: '/Testing coverage: \d+\.\d+/'

# generate RPMs
buildrpm:slc6:
  <<: *slc6setup
  stage: deploy
  only:
    - tags
    - triggers
  dependencies:
    - build:slc6
  script:
    - make rpm
    - glob gem*/rpm/**/*.rpm
    # publish RPMs somewhere?

# package and release RPMs
docs:slc6:
  <<: *slc6setup
  stage: deploy
  only:
    - tags
    - triggers
    - master
  dependencies:
  script:
    - doxygen -s ${BUILD_HOME}/doc/cmsgemos.cfg >& /dev/null
  coverage: '/Documentation coverage: \d+\.\d+/'

# deploy:
#   dependencies:
#     - buildrpm:slc6
#     - docs:slc6
# script:
#     - push RPMs to packagecloud.io
#     - push RPMs to cern hosted repo
#     - push docs to readthedocs.io
#     - push docs to cern hosted repo
