# Ignore everything
*
# Don't ignore subdirectories
!*/
# Don't ignore special files
!*.md
!*.rst
# Ignore RPM directories
*/rpm
# Don't ignore documentation files, etc
!*.rst
!*.md
# Don't ignore source files, etc
!*.gitignore
!*.cc
!*.h
!*.py
# ignore __init__.py files
__init__.py
!*.js
!*.jsp
!*.css
!setup/etc/addresstables/*.xml
!setup/paths.sh
!setup/etc/profile.d/*sh
!setup/etc/yum.repos.d/*.repo
!*.rules
# Don't ignore CSS/JS etc
!*.js
!*.css
*.#*
