##
## Description:
##
## hostname:service
##
##-----------------------------------------------------------------------------------------------------
## Services
##-----------------------------------------------------------------------------------------------------
##
## directory service must be first in the list
gem-dqm01.cms:myservice
gemvm-daqcc7.cms:myservice
gem-daq01.cms:myservice
##
##-----------------------------------------------------------------------------------------------------
