##
## Description:
##
## hostname:service
##
##-----------------------------------------------------------------------------------------------------
## Services
##-----------------------------------------------------------------------------------------------------
##
## directory service must be first in the list
srv-c2d06-17.cms:myservice
srv-c2d06-18.cms:myservice
##
##-----------------------------------------------------------------------------------------------------
