#include "addon/settings.include"
##
## Description:
##
## hostname:service
##
##-----------------------------------------------------------------------------------------------------
## Services
##-----------------------------------------------------------------------------------------------------
##
## directory service must be first in the list
SLIM_MACRO_SERVICE_HOST:tstore spotlightocci
##
##-----------------------------------------------------------------------------------------------------
